<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Gimmie Objective-C API.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC812EA01973AE81005AAE46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC812EB01973AE82005AAE46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC812F491973B08B005AAE46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
